<div class=""><h2>Pratise Event Binding</h2>
    <input type="text" class="form-control" [(ngModel)]="userName" (input)="updateUserName()" />
    <p>{{userName}}</p>
</div>
   
  <button class="btn btn-primary" [disabled]="resetUserNameFlag" (click)="onClickUserNameReset()">Reset User</button>

<div class="row">
        <label>Server Name</label>
        <input type="text" class="form-control" (input)="onUpdateServerName($event)">
        <!-- Two Way Binding Start -->
        <input type="text" class="form-control" [(ngModel)]="serverName">
        <!-- Two Way Binding End -->
        <!-- <p>{{serverName}}</p> -->
</div>
<div class="row">
        <!-- <button 
        class="btn btn-primary" 
        [disabled]="!allowNewServer">Add Server</button> -->
        <button 
        class="btn btn-primary" 
        [disabled]="!allowNewServer"
        (click)="onCreateServer()">Add Server</button>
        <!-- <p [innerText]="allowNewServer"></p> -->
        <!-- <p>{{ serverCreationStatus }}</p> -->
        <p *ngIf="serverCreated">{{ serverCreationStatus }}</p>
    </div>      
<app-server></app-server>